* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.container .btn {
  padding: .5rem 1.66rem;
  margin-top: 2.34rem;
  font-size: .9653rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  background-color: #000;
  border-radius: 34px;
  outline: none;
  border: 0;
  cursor: pointer;
  border: 1px solid #fff;
  transition: all .3s ease-out;
}
.container .btn:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}